.inverted {
background-color: black;
color: white;
font-size:xx-large  ;    
width: auto;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
height: auto;
}

.fancy {
background-color: yellow;   
color: black;
font-size:xx-large  ;    
width: auto;
font-family: Arial, Helvetica, sans-serif;
height: auto;
text-decoration: none;
}